document.getElementById("user-status-<%= @user.id %>").innerHTML = `
  <form method="post" action="<%= activate_user_path(@user) %>" data-remote="true">
    <input type="submit" value="Activate" class="btn btn-success">
  </form>
`;
