<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body style="background-image: url(<%= asset_path('earth.png') %>)" class="bg-cover h-screen">

  <!-- Navigation Bar -->
  <%= render 'devise/shared/nav' %>
  <hr>

  <div class="text-white relative overflow-hidden font-[Montserrat] flex justify-center items-end">

    <!-- Main Content -->
    <div class="backdrop-blur-md bg-white/15 w-[90%] md:w-[60%] mt-[6%] rounded-2xl flex justify-end items-end">
      <!-- component -->

    

    </div>
  </div>

 

</body>

</html>

