<!-- app/views/posts/_like_button.html.erb -->
<%= button_to post_likes_path(post), method: :post, remote: true, class: "like-button", id: "like-button-#{post.id}" do %>
  <div class="flex flex-row items-center">
    <% if post.likes.find_by(user: current_user) %>
      ❤️
    <% else %>
      <img src="<%= asset_path('dil.svg') %>" alt="Like" class="mr-1 w-5 h-5">
    <% end %>
    <span class="text-gray-600 hover:text-blue-600">Like</span>
  </div>
<% end %>